.block {
 background-color: #c19393;
 width: 300px;
 padding: 10px;
 display: grid;
 grid-template-columns: repeat(8, 1fr);
}

.input {
    background-color: #9f8440;
    grid-column: 1 / -1;
    grid-row: 1;
}

.btn {
    background-color: #42b73a;
    grid-column: -4 / -1;
    grid-row: 1;

}