.taskListContainer {
   /* display: flex; */
    /* flex-direction: column; */
    
}
.taskListWrapper {
    width: 100%;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .taskListWrapper {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 576px) {
    .taskListWrapper {
        grid-template-columns: 1fr;
    }

}

.addTaskWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    
}