.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(99, 176, 176);
    /* border-bottom: 1px solid rgb(221, 221, 221); */
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.logo {
    color: white !important;
}

.navbarMenu a {
    margin: 5px;
    text-decoration: none;
    /* color: #fff; */
}