@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --ui-font: 'Roboto', sans-serif;
  --text-color: #586d69;
  --ui-bluegreen: rgb(99,176,176);


}


body {
  /* width: 99dvw; */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus, a:focus, select:focus, textarea:focus {
  outline: none;
}

#root {
  display: flex;
  justify-content: center;
  background-color: #ECFDFA;
}

@media (max-width: 768px) {
  #root {
    /* width: 100vw; */
    /* font-size: 1em; */
  }
}

@media (max-width: 576px) {
  #root {
    /* width: 100vw; */
    /* font-size: .8em; */
  }
}
